* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Recursive", sans-serif;
  margin: 0;
  box-sizing: content-box;
  background: linear-gradient(45deg, yellow, orange);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(60px, auto));
  grid-gap: 5px 5px;
  max-width: 90vw;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

header {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(55px, auto);
  padding: 5px;
  background: linear-gradient(90deg, powderblue, lightyellow);
}

header img {
  max-width: 35%;
  height: auto;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}

#content {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(3, 6fr);
}

div#content div#trac {
  width: 100%;
  display: grid;
  grid-column: 1 / 4;
  text-align: center;
}

#work {
  background: linear-gradient(90deg, red, orange);
  padding: 15px;
}

#trac h1 {
  padding: 15px;
}

#myprofile {
  background: rgb(20, 20, 80);
  color: white;
  padding: 10px;
}

#myprofile div{
  margin: 0 auto;
  text-align: center;
  line-height: 2;
  width: 100%;
  padding-right: 2%;
}

#mypp {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 10%;
}

#profile {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#summary {
  padding: 10px;
  grid-column: 2 / 4;
  padding: 3%;
  line-height: 2;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

hr {
  border-color: orangered;
  /* max-width: 70%; */
  margin: 0 auto;
}

article {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

i {
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

.dates {
  padding-right: 10px;
}